/* .border-left{
   border: 5px solid linear-gradient(90deg, rgba(7,7,23,1) 0%, rgba(26,122,210,1) 90%);
    
}
.border-right{
    background: rgb(7,7,23);
    background: linear-gradient(90deg, rgba(7,7,23,1) 0%, rgba(26,122,210,1) 90%);
    border-right: 6px solid
    
  
} */